ion-item {
  --inner-border-width: 0;
  margin-bottom: 5px;
  ion-label {
    font-weight: 500;
  }
  ion-icon {
    margin-right: 15px;
  }
  &:hover {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
  }
}
