:host {
  position: relative;
  z-index: 20;
}

ion-toolbar {
  --background: #dcd0ff;
  overflow: visible !important;
  // Hacemos que la barra sea un contexto de posicionamiento para la búsqueda
  position: relative; 
}

// Botones de la izquierda (home y logo)
ion-buttons[slot="start"] {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
  .header-logo {
    max-height: 38px;
  }
}

// --- SOLUCIÓN DEFINITIVA PARA CENTRAR LA BÚSQUEDA ---
.search-container {
  position: absolute;
  left: 50%; // Muévelo al 50% del ancho del header
  top: 50%; // Muévelo al 50% de la altura del header
  // La transformación lo centra perfectamente en su eje X e Y
  transform: translate(-50%, -50%);

  width: 90%; // Ocupa el 90% del ancho en pantallas pequeñas
  max-width: 450px; // Pero nunca más de 450px en pantallas grandes
}
// ----------------------------------------------------

// Botones de la derecha (carrito y perfil)
ion-buttons[slot="end"] {
  padding-right: 16px;

  .header-avatar {
    width: 32px;
    height: 32px;
  }
}

// Estilos para los íconos específicos de Home y Carrito
ion-button[routerLink="/menu"] ion-icon,
ion-button[routerLink="/carrito"] ion-icon {
  color: #000;
}