<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button routerLink="/menu" aria-label="Volver al menú principal">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
      <div class="logo-container">
        <img src="assets/img/LogoLirartOscuro.png" alt="LirArt Logo" class="header-logo">
      </div>
    </ion-buttons>

    <div class="search-container">
      <ion-searchbar
        placeholder="Buscar..."
        [value]="searchQuery"
        (ionInput)="onSearch($event)"
        (ionBlur)="onBlur()">
      </ion-searchbar>
    </div>

    <ion-buttons slot="end">
      <ion-button routerLink="/carrito">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/perfil-cliente">
        <ion-avatar class="header-avatar">
          <img src="assets/img/pfp3.jpg" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>