.custom-header {
  position: relative;
  &::after {
    display: none;
  }
}

.custom-toolbar {
  --background: #D8DEE9;
  --min-height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  z-index: 10;
}


.logo-container {
  .header-logo-img {
    height: 40px;
    margin-left: 10px;
  }
}

.center-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin: 0 15px;
}

.home-button {
  margin-right: 5px;
  --padding-start: 6px;
  --padding-end: 6px;
  ion-icon {
    font-size: 1.5em;
  }
}

.header-searchbar {
  --background: #ECEFF4;
  --border-radius: 20px;
  --box-shadow: none;
  --min-height: 38px;

  --color: #707070;
  --icon-color: #707070;
  --placeholder-color: var(--ion-color-light-shade);
  --clear-button-color:  #707070;
  width: 100%;
  max-width: 400px;
  height: 38px;
  padding: 0;

  .searchbar-input-container {
    height: 100%;
    .searchbar-input {
      padding-left: 35px !important;
    }
  }
}



.end-buttons {

  display: flex;
  align-items: center;

  ion-button {
    --padding-start: 6px;
    --padding-end: 6px;
    margin-left: 5px;
    ion-icon {
      font-size: 1.6em;
    }
  }

  .profile-button {
    ion-avatar {
      width: 32px;
      height: 32px;
      border: 1px solid var(--ion-color-medium-tint);
    }
  }

  ion-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.7em;
    padding: 2px 4px;
    --border-radius: 10px;
  }

}

.header-background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-image: url('/assets/img/LogoLirartOscuro.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 1;
}

@media (max-width: 767px) {
  .center-content {
    margin: 0 5px;
  }
  .header-searchbar {
     max-width: none;
  }
  .end-buttons {
     ion-button ion-icon {
        font-size: 1.4em;
     }
     .profile-button ion-avatar {
        width: 28px;
        height: 28px;
     }
  }
  .header-background-image {
     width: 100px; // Imagen de fondo más pequeña en móvil
     opacity: 0.3;
  }
}
