ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

.feed-col {
  overflow-y: auto;
  height: calc(100vh - 60px);
  padding-top: 10px;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--ion-color-medium-shade);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--ion-color-light);
  }
}

.side-nav-col, .side-content-col {
    padding-top: 20px;
}
